---
title: A Cor da Magia tem preço revelado!
published: 30-mai-2026
permalink: "/blog/a-cor-da-magia-preco/"
smalltitle: A Cor da Magia tem preço revelado!
---

<p class="drop_caps_p">Grandes novidades para os fãs de Discworld! A Jambô Editora atualizou a página de <a class='underline link font-bold' href='https://jamboeditora.com.br/produto/discworld-a-cor-da-magia/' target='_blank' alias='A Cor da Magia - Jambô Editora'>A Cor da Magia</a>, primeiro lançamento da série no Brasil. Agora já é possível conferir informações detalhadas sobre a obra, além de conhecer os profissionais responsáveis pela tradução e pelas <span class="font-bold">artes</span>.
<br><br>
E, sim, artes no plural. Uma das grandes surpresas desta edição são as ilustrações presentes não apenas na capa, que está fantástica (você também pode ver no final desse post), mas também no miolo do livro. Foi uma excelente decisão da Jambô incluir esse material extra. Para muitos leitores que já possuem a antiga edição da Conrad, esse pode ser um fator importante na hora de decidir comprar o relançamento.
<br><br>
Outra novidade na página do livro é a disponibilização gratuita para download do prólogo de A Cor da Magia, permitindo aos leitores conhecer um pequeno trecho da aventura antes do lançamento.
<br><br>
E chegou o momento que muita gente estava esperando: o preço foi finalmente revelado.
<br>O livro custará <span class="font-bold">R$ 89,90</span>.
<br><br>
A única informação que continua em segredo é a data de lançamento, o que só aumenta a ansiedade dos fãs. Enquanto ela não é divulgada, já é possível cadastrar um endereço de e-mail no site para receber uma notificação assim que o livro estiver disponível para compra.</p>
<br>
<div class="flex justify-center">
    <img src="../../static/assets/blog/002-a-cor-da-magia-em-breve.png" alt="">
</div>