---
title: Jambô Editora anuncia lançamento de dois livros do Discworld para 2026!
published: 26-mai-2026
permalink: "/blog/lancamentos-em-2026-pela-Jambo/"
smalltitle: Relançamentos em 2026 pela Jambô
---

<p class="drop_caps_p">Os leitores brasileiros de fantasia aprenderam, ao longo dos anos, a conviver com uma frustração recorrente: começar séries incríveis sem garantia de que elas seriam concluídas por aqui. Poucos exemplos representam melhor isso do que <span class="font-bold">Discworld</span>, a monumental saga criada por <span class="font-bold">Terry Pratchett</span>.
<br><br>
Entre os anos 2000 e 2008 alguns volumes foram lançados pela antiga Conrad Editora. Posteriormente, títulos também foram publicados pelo Grupo Editorial Record através do selo Bertrand Brasil, continuando a série de onde a anterior havia parado suas publicações.
<br><br>
Agora tudo indica que a série finalmente poderá receber um tratamento mais consistente no Brasil através da <a class='underline link font-bold' href='https://jamboeditora.com.br/' target='_blank'>Jambô Editora</a>, que vai recomeçar a publicação dos livros desde o primeiro e prometeu o lançamento de <span class="font-bold">A Cor da Magia</span> e <span class="font-bold">A Luz Fantástica</span> ainda em 2026!
<br><br>
Trazer Discworld para o Brasil não é apenas uma questão de tradução, mas também um exercício de adaptação cultural. A escrita de Terry Pratchett é carregada de trocadilhos, sátiras britânicas, humor linguístico e referências históricas. Traduzir isso mantendo o ritmo e a graça do original exige um trabalho editorial extremamente cuidadoso.
<br><br>
Além disso, existe o desafio comercial: convencer novos leitores a entrar em uma série gigantesca, famosa internacionalmente, mas ainda relativamente “cult” no mercado brasileiro.
<br><br>
<span class="font-bold">Por isso é muito importante nós, fãs da série, apoiarmos o esforço e a aposta que que a Jambô está fazendo com esses lançamentos e ajudarmos como for possível, comprando, divulgando, recomendando para amigos e conhecidos.</span>
<br><br>
Não foram divulgadas maiores informações, como data de lançamento dos livros, mas já podemos apreciar essas artes lindas que foram disponibilizadas no site da editora.</p>
<br>
<img src="../../static/assets/blog/001-a-cor-da-magia.webp">
<br>
<img src="../../static/assets/blog/001-a-luz-fantastica.webp">