<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{ metadata.author.name }}">
  <meta name="description" content="{{ metadata.description }}">
  <link rel="stylesheet" href="{{ '/static/css/styles.css' }}">
  <link rel="icon" href={{ metadata.logo }}>
  <title>{{ metadata.title }}</title>
</head>
<body class="flex flex-col min-h-screen bg-yellow-50 text-gray-900 font-della">

  {% include '../components/header.njk' %}

  <main class="flex-grow">
  {# only when fixed navbar
  <main class="flex-grow pt-10"> #}
    {{ content | safe }}
  </main>

  {% include '../components/footer.njk' %}

</body>

{# only when fixed navbar
<script src="/static/js/navbar.js"></script> #}
</html>