---
layout: base
---
<div class="m-2 flex flex-col mx-auto">
  <div class="flex flex-col sm:flex-row mx-auto items-center text-center">
    <img class="h-60 object-contain md:h-72 lg:h-96" src="../../static/assets/livros/{{ mini }}" alt={{ titulo }}>
    <div class="flex flex-col mt-2 sm:mt-0 sm:ml-2 sm:items-start">
		<p><span class="font-semibold">Título Original</span>: {{ original }}</p>
		<p><span class="font-semibold">Ano de Publicação</span>: {{ publicacao }}</p>
		<p><span class="font-semibold">Arco</span>:
			<a class="text-yellow-800" href="/guia/{{ arco | slug }}">{{ arco }}</a>
		</p>
		<p><span class="font-semibold">Lançamento no Brasil</span>: {{ lancamentobr }}</p>
		<p><span class="font-semibold">Páginas</span>: {{ paginas }}</p>
		<p><span class="font-semibold">Editora</span>: {{ editora }}</p>
		{% if amazon %}
		<a class="inline-block py-2 px-6 bg-[#FF9900] text-[#232F3E] font-bold rounded-sm max-w-fit"
			href="{{ amazon }}" target="_blank"><p>Ver na Amazon</p>
		</a>
		{% endif %}
    </div>
  </div>
  <div class="m-2 sm:w-4/5 sm:mx-auto text-justify">
    <p><strong>Sinopse</strong>:</p>
    {{ content | safe }}
  </div>

  <div class="flex flex-col mt-8 mx-2 sm:w-4/5 items-center sm:mx-auto sm:flex-row justify-between">
    {%- set previousBook = collections.livros | getPreviousCollectionItem(page) %}
    {%- if previousBook %}
      <p><span class="font-semibold">Livro anterior</span>: <a class="text-yellow-800" href="{{ previousBook.url | url }}">{{ previousBook.data.titulo }}</a></p>
    {% endif %}
    {%- set nextBook = collections.livros | getNextCollectionItem(page) %}
    {%- if nextBook %}
      <p><span class="font-semibold">Próxmo livro</span>: <a class="text-yellow-800" href="{{ nextBook.url | url }}">{{ nextBook.data.titulo }}</a></p>
    {% endif %}
  </div>

</div>

<script src="../../static/js/navbar.js"></script>