---
layout: base
---

<div class="mx-2 sm:w-3/5 sm:mx-auto">
    <h1 class="text-3xl font-semibold mt-4"> {{ title }}</h1>
    <p class="text-sm mb-8">{{ published }}</p>
</div>
<div class="mx-2 sm:w-3/5 sm:mx-auto text-justify">
    {{ content | safe }}
</div>

<div class="flex flex-col mt-8 mx-2 sm:w-3/5 items-center sm:mx-auto sm:flex-row justify-between">
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if previousPost %}
    <p><span class="font-semibold">Post anterior</span>: <a class="text-yellow-800" href="{{ previousPost.url | url }}">{{ previousPost.data.smalltitle }}</a></p>
{% endif %}
{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- if nextPost %}
    <p><span class="font-semibold">Próximo post</span>: <a class="text-yellow-800" href="{{ nextPost.url | url }}">{{ nextPost.data.smalltitle }}</a></p>
{% endif %}
</div>

</div>

<script src="../../static/js/navbar.js"></script>