---
permalink: /guia/
layout: base
---

<p class="text-center text-2xl font-semibold mt-2 ">Guia de Leitura</p>
<p class="text-center mx-4 mt-2">Arcos de estórias do Discworld que possuem lançamentos nacionais.</p>

{# <div class="flex flex-col text-center">
{% for arco in collections.archList %}
  {% set arcoUrl %}/guia/{{ arco }}/{% endset %}
  <p><a href="{{ arcoUrl | url }}">{{ arco }}</a></p>
{% endfor %}
</div> #}

<div class="text-center mb-2">
  <p><a class="text-yellow-800" href="/guia/bruxas">Bruxas</a></p>
  <p><a class="text-yellow-800" href="/guia/civilizacoes-antigas">Civilizações Antigas</a></p>
  <p><a class="text-yellow-800" href="/guia/magos">Magos / Rincewind</a></p>
  <p><a class="text-yellow-800" href="/guia/morte">Morte</a></p>
  <p><a class="text-yellow-800" href="/guia/revolucao-industrial">Revolução Industrial</a></p>
  <p><a class="text-yellow-800" href="/guia/tiffany">Tiffany</a></p>
  <p><a class="text-yellow-800" href="/guia/vigilancia">Vigilância</a></p>
</div>
<div class="text-center m-4">
  <p>Há outros livros escritos pelo Terry Pratchett lançados no Brasil que não fazem parte da série Discworld.</p>
  <p>Você pode encontrá-los <a class="text-yellow-800" href="/guia/nao-discworld">clicando aqui</a>.</p>
</div>
<div class="text-center m-4">
  <p>Abaixo um infográfico com os 41 livros publicados em seus respectivos arcos. Créditos na imagem.</p>
  <img class="mx-auto" src="/static/assets/guia.jpg" alt="guia de leitura">
</div>