---
layout: base
---

<div class="m-4 md:w-4/5 md:mx-auto">
  <div class="mt-4 grid grid-cols-1 md:grid-cols-3">
    <p class="col-span-2"><span class="text-sm">Traduzido e adaptado de <a aria-label="link to Terry Pratchett Books" class="underline link" target="_blank" rel="noopener noreferrer" href="https://www.terrypratchettbooks.com/">https://www.terrypratchettbooks.com/</a></span>
    <br><br>Terry Pratchett nasceu em 1948 e teve sua primeira história publicada quando tinha apenas treze anos. Depois de deixar a escola aos dezessete anos para se tornar um jornalista, ele continuou escrevendo, publicando seu primeiro romance, The Carpet People, em 1971 e produzindo a série Discworld de sucesso fenomenal. Terry provou que os primeiros críticos estavam errados e se tornou um dos autores mais bem-sucedidos do Reino Unido, recebendo o título de cavaleiro em 2009 e vendo muitos de seus livros adaptados para as telas.
    <br>Ele morreu em março de 2015, após uma longa luta contra a doença de Alzheimer. Você pode descobrir mais sobre sua vida e trabalho abaixo.</p>
    <img class="h-48 mx-auto self-center" src="/static/assets/pratchett.png" alt="">
  </div>
  <div class="mt-8 mb-2">
    <p>1962. Aos treze anos, Terry publicou sua primeira história, Business Rivals, na revista escolar The Technical Cygnet. Foi publicado comercialmente como The Hades Business no ano seguinte. Terry usou a taxa de £ 14 para comprar sua primeira máquina de escrever.</p>
    <br>
    <p>1983. O primeiro romance de Terry no Discworld, The Colour of Magic, foi publicado por Colin Smythe - o início do que se tornaria uma série de sucesso fenomenal, 41 livros fortes e traduzidos em todo o mundo.</p>
    <br>
    <p>1986. Equal Rites, um dos primeiros romances do Discworld que explorou ideias emergentes sobre o feminismo, foi publicado em série para a rádio Woman’s Hour. Foi o livro mais popular que eles já transmitiram.</p>
    <br>
    <p>1996. O Times noticiou que Terry Pratchett era agora o autor mais vendido no Reino Unido.</p>
    <br>
    <p>1998. Terry foi nomeado OBE na Lista de Honras de Aniversário da Rainha. Apesar de inicialmente suspeitar que era uma fraude elaborada, ele aceitou o prêmio.</p>
    <br>
    <p>2002. Terry ganhou a Medalha Carnegie pelo livro infantil The Amazing Maurice and His Educated Roents. Apesar dos muitos outros prêmios e títulos honorários que se seguiram, ele sempre disse que este era o prêmio de que mais se orgulhava.</p>
    <br>
    <p>2009. Terry foi nomeado cavaleiro pela Rainha por seus serviços à literatura, embora sustentasse que seu maior serviço à literatura era evitar escrevê-las.</p>
    <br>
    <p>2013. Publicou vários livros com algumas parcerias: 40º romance do Discworld, Raising Steam, romance de ficção científica The Long War em colaboração com Stephen Baxter, The Science of Discworld IV com Ian Stewart e Jack Cohen e Dodger’s London.</p>
    <br>
    <p>2015. Terry morreu pacificamente em casa em Wiltshire, com sua família ao redor e seu gato de estimação dormindo em sua cama. Ele havia terminado um romance final do Discworld, The Shepherd’s Crown, alguns meses antes, que foi publicado postumamente.
    <br>Alguns fãs do Discworld se abstiveram de ler seu último romance para manter um livro não lido de Terry na prateleira.</p>
  </div>
</div>